<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel panel-heading">
      <%= link_to "@" + user.username, user_profile_path(id: user.id) %>
    </div>
    <div class="panel panel-body">
      <div class="media">
        <% if user.avatar.url != nil %>
          <div class="media-left">
            <%= image_tag user.avatar.url(:thumb), class: "img-rounded" %>
          </div>
        <% end %>
        <div class="media-body">
          <p><strong><%= user.name %></strong></p>
          <p><%= user.location %></p>
          <p><%= user.bio %></p>
        </div>
      </div>
    </div>
  </div>
</div>